.header {
    background: url('https://i.postimg.cc/8Pf3ZSH2/IMG-20240807-160539-557.webp') no-repeat center center;
    background-size: cover;
    color: white;
    padding: 40px 0;
    text-align: center;
}